@import "./utilities.scss";

body {
  border: 20px solid $primary-color;
  margin: 0;
  padding: 0;
  height: 100vh;
  text-align: center;
  background-image: url("./img/sand.jpg");
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.5rem;
  @include mq("md") {
    justify-content: flex-end;
  }
  a {
    margin-right: 0.75rem;
  }
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  color: $primary-color;
  background-color: $white;
  box-shadow: 5px 10px rgba(53, 53, 53, 0.3);
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  border: 5px solid $secondary-color;
  border-radius: 0.35rem;
  font-size: 2rem;
  @include mq("md") {
    font-size: 2.75rem;
    border: 10px solid $secondary-color;
    width: 80%;
  }
}

p {
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
  background-color: $white;
  box-shadow: 5px 10px rgba(53, 53, 53, 0.3);
  color: $primary-color;
  border: 5px solid $tertiary-color;
  border-radius: 0.35rem;
  width: 70%;
  font-size: 1rem;
  @include mq("md") {
    font-size: 1.5rem;
    border: 10px solid $tertiary-color;
    width: 60%;
  }
}

ul {
  background-color: $quaternary-color;
  border-radius: 0.35rem;
  box-shadow: 5px 10px rgba(53, 53, 53, 0.3);
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem;
  width: 55%;
  @include mq("md") {
    font-size: 1.25rem;
  }
}

li {
  list-style-type: none;
  color: #111d5e;
}
