@import "./utilities.scss";

body {
  border: 20px solid $primary-color;
  margin: 0;
  padding: 0;
  height: 100vh;
  text-align: center;
  background-image: url("./img/sand.jpg");
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  color: $primary-color;
  background-color: $white;
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  border: 20px solid $secondary-color;
  border-radius: 0.35rem;
  font-size: 3rem;
  @include mq("sm") {
    font-size: 2rem;
    border: 5px solid $secondary-color;
    width: 90%;
  }
}

p {
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
  background-color: $white;
  color: $primary-color;
  border: 20px solid $tertiary-color;
  border-radius: 0.35rem;
  width: 60%;
  font-size: 1.5rem;
  @include mq("sm") {
    font-size: 1rem;
    border: 5px solid $tertiary-color;
    width: 70%;
  }
}

ul {
  background-color: $quaternary-color;
  border-radius: 0.35rem;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem;
  width: 55%;
}

li {
  list-style-type: none;
  color: #111d5e;
}
