//colors
$primary-color: #111d5e;
$secondary-color: #c70039;
$tertiary-color: #f37121;
$quaternary-color: #ffbd69;

$white: #f3f3f3;

//BREAKPOINTS MAP
$breakpoints: (
  "sm": 320px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1200px
);
